    body {
        background-image: url(resume/0483_stripes.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;;
        background-size: cover;
    }