{% extends './base.html' %}
{% block content %}

    <div class = "w-100 p-3 container-fluid text-left" style="background-color: #D9F9F3; color: #515A5A;">
        <h2>{{  message  }}</h2>
        <p>{{ user.username }}</p>
        <p>名：{{ user.first_name }}</p>
        <p>姓：{{ user.last_name }}</p>
        <p>{{ user.resumedata.phone }}</p>
        <p>{{ user.resumedata.twitter }}</p>

    <a class="btn btn-outline-primary" href="http://localhost:8000/resume/step1" role="button">編集</a>
    <a class="btn btn-outline-primary" href="http://localhost:8000/resume/create" role="button">作成</a>


    </div>


{% endblock %}
